
section{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 1280px;
}
.wrapper{
    list-style-type: none;
    display: flex;
    flex-direction: row;

    padding-top: 9px;
    padding-bottom: 9px;
}
.wrapper:first-child{
    padding-left: 400px;
}
.nav_element{
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    font-weight: 700;
}
.element_center_left{
    padding-left: 72px;
}
.element_center_right{
    padding-left: 72px;
}
.element_last{
    padding-left: 50px;
}

.photo{
    width: 1280px;
    height: 790px;
}
.main_title{
    padding-left: 253px;
    padding-top: 22px;
    padding-bottom: 11px;
    font-weight: 700;
    font-size: 22px;
    text-align: left;
    color: #373737;
}
.text_top{
    padding-bottom: 12px;
}
.text_bottom{
    padding-bottom: 50px;
}
.text{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
   line-height: 26px;
    padding-left: 67px;
    padding-right: 67px;
}
.btn{
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #FF0000;
    font-weight: 700;
    font-size: 12px;
    color: white;
}
.button{
    padding-left: 545px;
}
.last_line{
    text-align: end;
    padding-top: 5px;
}